<!doctype html>
{% load static %}
<html>
<link rel="stylesheet" type="text/css" href="{% static 'css/projectlayout.css' %}"/>
    <title>Miracle opensource projects</title>
        <head>
        </head>
        <body>
            <div class="wrapper">
                <div class="box header">
                    <h2>Miracle opensource turnkey projects</h2>
                </div>
                <div class="box sidebar">
                    <a href="/">Home</a><br>
                    <a href="/projects">Projects</a><br>
                    <a href="/packages">Packages</a><br>
                </div>
                <div class="box content">

               <table border="1" width="80%">
                   <tr>
                    <th></th>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Sub-projects</th>
                    <th>Building</th>
                    <th>Ready</th>
                    <th>Failed</th>
                    <th></th>
                </tr>
                {% for project in object_list %}
                <tr>
                    <td><img align="left"  src="{{ project.projectlogourl }}" alt="Logo" width="64" height="64"></td>
                    <td>{{ project.projectname }}</td>
                    <td>{{ project.projectdescription }}</td>
                    <td align ="center">{{ project.totalsubprojects  }}</td>
                    <td align ="center">{{ project.totalsubprojectsbuilding }}</td>
                    <td align ="center">{{ project.totalsubprojectsbuild }}</td>
                    <td align ="center">{{ project.totalsubprojectsfailed }}</td>
                    <td><a href="http://builder.pip2scl.dk/project/{{ project.projectname }}"><img align="left" src="http://repos.pip2scl.dk/logos/crayarrow.png" alt="Go" width="32" height="32"></td>
                </tr>
                {% empty %}
                <b> Content ready to be deployed</b>
                {% endfor %}
                </table>
                </div>
                <div class="box footer">
                    2021 Miracle opensource projects 2021
                    <meta http-equiv="refresh" content="10"> 
                </div>
            </div>
        </body>
</html>
